extends ../shares/layout

block content
  .blog-new
    form(action="/blog/save" method="post")
      input(name="id", type="hidden", value=blog.id ? blog.id : "")
      div.title
        label.left-title 标题
        input(name="title", value= blog.title ? blog.title : "")
      div.content
        label.left-title 内容
        div.content-edit.editor(data-defer="editor")
          div.meta.clearfix
            ul.tabnav-tabs
              li
                a(href="#" class="code tabnav-tab selected commit-edit")
                  span.octicon.octicon-code
                  label 编辑
              li
                a(href="#" class="code tabnav-tab commit-preview")
                  span.octicon.octicon-eye
                  label 预览
          textarea(name="content")= blog.originContent ? blog.originContent : ""
          div.preview.hide.article-entry
      div.tags
        label.left-title 标签
        .dropdown(data-defer="dropdown")
          a.dropdown-toggle
          ul.dropdown-menu.ge_menus
            - each tag in tags
              li
                label.checkbox
                  input(type="checkbox", value="#{tag.id}", name="tags", checked= !!(myTags && myTags.indexOf(tag.id) > -1))
                  span= tag.name
        label 
          input(type="checkbox",name="isLocal", checked = !!(blog.isLocal))
          span 本地存储
        label 
          input(type="checkbox",name="isRecommend", checked = !!(blog.isRecommend))
          span 推荐
      div.footer
        input.btn.primary(type="submit", value="提交")
block footerJS
  script(src='/javascripts/plugins/plugin.js')
  script(src='/javascripts/plugins/dropdown.js')
  script(src='/javascripts/plugins/editor.js')