doctype html
html
  head
    title 陈佳人
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet/less", type="text/css", href='/stylesheets/layout.less')
    link(rel="stylesheet/less", type="text/css", href='/stylesheets/blog.less')
    link(rel="stylesheet/less", type="text/css", href='/stylesheets/user.less')
    link(rel="stylesheet/less", type="text/css", href='/stylesheets/common.less')
    link(rel="stylesheet/less", type="text/css", href='/stylesheets/plugin.less')
    script(src='/javascripts/less-2.0.0.min.js')
  body
    .top 
      if !session || !session.login
        a(href="/user/login") 登陆
      else
        a 欢迎 #{session.loginData.name}
        a(href="/blog/new") new
    header.layout-header
      div
        h1 
          a(href="/") 陈佳人
        p 人生是一场独自修行的道路
      nav
        a(href="/") 首页
        a(href="/") 推荐
        a(href="/about") 关于blog
    #main
      block content
      script(src='/javascripts/jquery-1.11.1.js')
      block footerJS