aside#right
  #info
    image(src="/stylesheets/images/icon.png")
    div geraldchen890806@gmail.com
  #recent
    h4.title 最新文章
    ul
      -for blog in recentBlogs
        li
          a(href="/blog/#{blog.url}", title="#{blog.title}")= blog.title
  #tags.item
    h4.title 标签
    ul
      -for tag in tags
        li
          a(href="/blog/tag/#{tag.name}", title="#{tag.name}")= tag.name
  #links.item
    h4.title 友情链接
    ul
      li
        a(href="http://www.jiweiwei.com/") 众生相
      li
        a(href="http://blog.samsonis.me/") Samson's Weblog
  #share.item
    ul
      li
        a(href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Frenjm.com/feed',target='blank')
          img(id='feedlyFollow',src='/stylesheets/images/feedly-follow-rectangle-volume-small_2x.png',alt='follow us in feedly',width='66',height='20')
        a(href='/feed',target='blank')
          img(src='/stylesheets/images/feed-icon-14x14.png',alt='follow us in rss',width='20',height='20')