extends ../shares/layout

block content
  div.plugins
    .plugin
      header
        h1
          a(class="article-title", href="#") 在线编辑器
      div.content-edit.editor(data-defer="editor")
        div.meta.clearfix
          ul.tabnav-tabs
            li
              a(href="#" class="code tabnav-tab selected commit-edit")
                span.octicon.octicon-code
                label 编辑
            li
              a(href="#" class="code tabnav-tab commit-preview")
                span.octicon.octicon-eye
                label 预览
        textarea(name="content")
        div.preview.hide.article-entry
block footerJS
  script(src='/javascripts/plugins/plugin.js')
  script(src='/javascripts/plugins/editor.js')