body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #696969;
    background: url(images/bj.png) scroll;
    width: 1080px;

    .layout-header {
        margin: 20px;
        color: #000;
        text-shadow: 1px 1px 0 #aaa;
        font-family: 'Microsoft Yahei';
        h1 {
            font-weight: bold;
            padding: 5px 0;
            border: none;
            line-height: 2em;
            font-size: 32px !important;
            text-shadow: 1px 1px 2px #111;
        }
        p {
            letter-spacing: 4px;
            font-size: 13px;
            margin: 5px 0px;
            height: 20px;
        }

    }
    /*#main{
        border-radius: 4px 0 0 0;
        -webkit-border-radius: 4px 0 0 0;
        -moz-border-radius: 4px 0 0 0;
        margin-top: 40px;
    }*/
}

