.user {
  margin: 10px 0 30px;
  padding: 120px 0;

  .content{
    width:300px;
    margin: 0 auto;
    div {
      margin: 10px;
    }
    label {
      width: 60px;
      display: inline-block;
    }
    input {
      line-height: 22px;
      height: 22px;
    }
  };
}