extends layout

block content
  .blog-detail
    div.blog
      header.article-header
        h1
          a(class="article-title", href="javascript:void(0)")= blog.title
      .content.article-entry
        != blog.content
      footer.article-footer
        ul.article-tag-list
          - for tag in blog.tags
            li.article-tag-list-item
              a(href="/blog/tag/#{tag.id}").article-tag-list-link= tag.name